*{
    box-sizing: border-box;
    margin: 0 auto;
}

[class^="col"]{
    color: white;
}

header .container .col_info{
    margin-bottom: 30px;
}

.logo{
    background-color: #1ABC9C;
    height: 350px;
}

.logo img{
    width: 150px;
    margin-top: 30px;
}

.stella{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.stella:before, .stella::after{
    content: "";
    display: inline-block;
    background-color: white;
    vertical-align: middle;
    width: 25%;
    height: 2px;
    border-radius: 2px;
    line-height: 4px;
}

.portfolio .stella:before, .portfolio .stella::after{
    content: "";
    display: inline-block;
    background-color: black;
    vertical-align: middle;
    width: 25%;
    height: 2px;
    border-radius: 2px;
    line-height: 4px;
}

main .container .row .col{
    color: black;
}

main .container .row .col-12{
    color: black;
}

main .container{
    margin-top: 30px;
    margin-bottom: 40px;
}

.portfolio .sixsquare{
    height: 150px;
}

.image_main img{
    width: 100%;
    border-radius: 5px 5px;
}

.about{
    background-color: #66cdaa;
    height: 300px;
}

.about .row .col{
    color: white;
}

.about h3{
    margin-top: 30px;
}

.contact{
    height: 120px;
}

.contact .row .col-12{
    color: black;
}

.contact h3{
    margin-top: 30px;
}

.contact .stella:before, .contact .stella::after{
    content: "";
    display: inline-block;
    background-color: black;
    vertical-align: middle;
    width: 25%;
    height: 2px;
    border-radius: 2px;
    line-height: 4px;
}

.btn{
    margin-left: 13px;
    background-color: #66cdaa;
    border: none;
}

.ms_input_border{
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0!important;
}

footer{
    background-color: black;
    margin-top: 30px;
}

.follow{
    margin-top: 15px;
}

.follow i{
    width: 40px;
    height: 40px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 100%;
    margin-right: 5px;
}

.copyright{
    background-color: #2C3E50;
}
