*{
    box-sizing: border-box;
    margin: 0 auto;
}

[class^="col"]{
    color: white;
}

.container{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

/* Header */

header{
    background-color:  #333333;    
}

header .container .col_info{
    margin-bottom: 30px;
}

/* Section logo */

.logo{
    background-color: #1ABC9C;
    height: 350px;
}

.logo img{
    width: 150px;
    margin-top: 30px;
}

.stella{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.stella:before, .stella::after{
    content: "";
    display: inline-block;
    background-color: white;
    vertical-align: middle;
    width: 25%;
    height: 2px;
    border-radius: 2px;
    line-height: 4px;
}

.portfolio .stella:before, .portfolio .stella::after{
    content: "";
    display: inline-block;
    background-color: black;
    vertical-align: middle;
    width: 25%;
    height: 2px;
    border-radius: 2px;
    line-height: 4px;
}

/* Main */

main .container .row .col{
    color: black;
}

main .container .row .col-12{
    color: black;
}

main .container{
    margin-top: 30px;
    margin-bottom: 40px;
}

.portfolio .sixsquare{
    background-color: #1ABC9C;
    height: 150px;
}

.image_main img{
    width: 50%;
    border-radius: 5px 5px;
}

/* Section about */

.about{
    background-color: #66cdaa;
    height: 300px;
}

.about .row .col{
    color: white;
}

.about h3{
    margin-top: 30px;
}

/* Section contact */

.contact{
    height: 120px;
}

.contact .row .col-12{
    color: black;
}

.contact h3{
    margin-top: 30px;
}

.contact .stella:before, .contact .stella::after{
    content: "";
    display: inline-block;
    background-color: black;
    vertical-align: middle;
    width: 25%;
    height: 2px;
    border-radius: 2px;
    line-height: 4px;


footer{
    background-color: black;
    
}
