*{
    box-sizing: border-box;
    margin: 0 auto;
}

[class^="col"]{
    /* border: 1px solid black; */
    color: white;
}

.container{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

/* Header */

header{
    background-color:  #333333;    
}

header .container .col_info{
    margin-bottom: 30px;
}

/* Section logo */

.logo{
    background-color:   #66cdaa;
    height: 400px;
}

.logo .container .col_info{
    margin-bottom: 30px;
}

/* Main */

main .container .row .col{
    color: black;
}

main .container{
    margin-top: 30px;
    margin-bottom: 40px;
}


/* Section about */

.about{
    background-color: #66cdaa;
    height: 300px;
}

.about .container .row i:before{
    border-left: 1px solid black;
    content: "";
}

.about .row .col{
    color: white;
}

.about h1{
    margin-top: 30px;
}

/* Section contact */

.contact .container{
    height: 500px;
}

.contact .row .col{
    color: black;
}

.contact h1{
    margin-top: 30px;
}

/* Footer */

footer .container .row .col{
    color: white;
}

.location{
    background-color: #336699;
}

.copyright{
    background-color:   #2f4f4f;
}